<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Generate-Code</title>

    <link rel="stylesheet" href="style.css" />

    <script src="{{ url_for('static', filename='js/libraries/davidshimjs-qrcodejs-04f46c6/qrcode.js') }}"></script>
    <script src="{{ url_for('static', filename='js/generate-code.js') }}"></script>

    <style>
      th,
      td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 30px;
      }
    </style>
  </head>
  <body>
    <!-- Put each forms in an own div -->

    <button type="button" onclick="onToDashboard()">Dashboard</button>

    <div id="codeTable"></div>

    <div id="certificateCreation" style="visibility:hidden;">
      <form id="codeCreationForm" class ="codeCreationForm">
        <h2>Neue Qualifikation erstellen</h2>

        <label>Qualifikations Level:</label>

        <select id = "qualificationLevelDropdown" class="qualificationLevelDropdown"></select>

        <br />
        <br />

        <label>Maximalanzahl an benutzungen:</label>

        <input type="number" id="maxAmountOfUses" class = "maxAmountOfUses"/>

        <br />

        <div id="provisionalEndTime"></div>

        <br />

        <button type="button" id="closeFormButton" onclick="()">Schließen</button>
        <button type="button" id="saveFormButton" onclick="onSaveCodeClicked()">Speichern</button>
      </form>
    </div>

    <div id="certificateUpdate" style="visibility:hidden;">
      <form id="codeSettingsForm" class ="codeSettingsForm">
        <h2>Einstellungen</h2>

        <label>Qualifikations Level:</label>

        <select class="qualificationLevelDropdown"></select>

        <br />
        <br />

        <label>Maximalanzahl an benutzungen:</label>

        <input type="number" id="maxAmountOfUses" class = "maxAmountOfUses"/>

        <br />

        <div id="provisionalEndTime"></div>

        <br />
        <button type="button" id="closeFormButton" onclick="()">Schließen</button>
        <button type="button" id="updateFormButton" onclick="onUpdateCodeClicked()">Updaten</button>
      </form>

      <br />
      <br />

      <div id="qrcode"></div>
      <div id="codeText"></div>
    </div>
  </body>
</html>
